<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-open" xml:lang="da">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#managing-archives"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Åbn et eksisterende arkiv.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flemming Christensen</mal:name>
      <mal:email>fc@stromata.dk</mal:email>
      <mal:years>2011, 2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2015, 2020</mal:years>
    </mal:credit>
  </info>

  <title>Åbn et arkiv</title>

  <p>Du kan åbne et eksisterende arkiv med <app>Arkivhåndtering</app> ved at trykke på menuknappen i øverste højre hjørne af vinduet og vælge <gui style="menuitem">Åbn …</gui>. Eller tryk på <keyseq><key>Ctrl</key><key>O</key></keyseq>.</p>

  <p>Du kan også trække og slippe et arkiv ind i et åbent <app>Arkivhåndtering</app>-vindue.</p>

</page>
