<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="supported-formats" xml:lang="da">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2011-11-21" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Deling på samme vilkår 3.0</p>
    </license>
    <desc><app>Arkivhåndtering</app> arbejder med en række forskellige filformater.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flemming Christensen</mal:name>
      <mal:email>fc@stromata.dk</mal:email>
      <mal:years>2011, 2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>scootergrisen</mal:name>
      <mal:email/>
      <mal:years>2015, 2020</mal:years>
    </mal:credit>
  </info>

  <title>Understøttede filformater</title>

  <p>Filformater, der understøttes af <app>Arkivhåndtering</app>, omfatter:</p>

  <list type="numbered">
    <item><p>Arkivér kun</p>
      <list>
        <item><p>Lille AIX-indekseret arkiv (<file>.ar</file>)</p></item>
        <item><p>ISO-9660 CD Diskaftryk [skrivebeskyttet] (<file>.iso</file>)</p></item>
        <item><p>Båndarkivfil (<file>.tar</file>)</p></item>
      </list>
    </item>
    <item><p>Arkivér og komprimér</p>
      <list>
        <item><p>Java-arkiv (<file>.jar</file>)</p></item>
        <item><p>WinRAR-komprimeret arkiv (<file>.rar</file>)</p></item>
        <item><p>Båndarkivfil komprimeret med:</p>
          <list>
            <item><p>gzip (<file>.tar.gz</file>, <file>.tgz</file>)</p></item>
            <item><p>bzip (<file>.tar.bz</file>, <file>.tbz</file>)</p></item>
            <item><p>bzip2 (<file>.tar.bz2</file>, <file>.tbz2</file>)</p></item>
            <item><p>lzop (<file>.tar.lzo</file>, <file>.tzo</file>)</p></item>
            <item><p>7zip (<file>.tar.7z</file>)</p></item>
            <item><p>xz (<file>.tar.xz</file>)</p></item>
          </list>
        </item>
        <item><p>Kabinet-fil (<file>.cab</file>)</p></item>
        <item><p>ZIP-pakket tegneserie (<file>.cbz</file>)</p></item>
        <item><p>ZIP-arkiv (<file>.zip</file>)</p></item>
        <item><p>ZOO-komprimeret arkivfil (<file>.zoo</file>)</p></item>
      </list>
    </item>
  </list>

<!-- TODO: how does one install the plugins? -->
  <note>
    <p>For visse filformater kan <app>Arkivhåndtering</app> kræve yderligere udvidelsesmoduler.</p>
  </note>

</page>
