<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task 2column" id="index" xml:lang="el">

  <info>
    <title type="link" role="trail">Archive Manager</title>
    <title type="link">Βοήθεια διαχειριστή συμπιεσμένων αρχείων</title>
    <title type="text">Βοήθεια διαχειριστή συμπιεσμένων αρχείων</title>
    <revision pkgversion="3.8" date="2013-02-24" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Μάθετε να χρησιμοποιείτε και να διαχειρίζεστε συμπιεσμένα αρχεία και φακέλους.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2012, 2014</mal:years>
    </mal:credit>
  </info>
  
  <title><media type="image" its:translate="no" width="48px" height="48px" src="figures/org.gnome.FileRoller.svg"/> διαχειριστής συμπιεσμένων αρχείων</title>
  
  <section id="managing-archives" style="2column">
    <title>Διαχείριση συμπιεσμένων αρχείων</title>
  </section>

  <section id="advanced-options" style="2column">
    <title>Προχωρημένες επιλογές</title>
  </section>

  <section id="troubleshooting" style="2column">
    <title>Αντιμετώπιση προβλημάτων</title>
  </section>

</page>
