<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-edit" xml:lang="id">

  <info>
    <title type="sort" its:translate="no">3</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-create"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Mengubah isi arsip Anda.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016, 2020, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Sunting suatu arsip</title>

  <p>Dengan <app>Manajer Arsip</app> Anda dapat menyunting arsip yang ada dengan menambahkan berkas, menghapus yang tak diinginkan, atau mengubah namanya. Anda dapat bekerja dengan folder dengan cara yang sama dengan berkas.</p>

  <terms>
    <item>
      <title>Menambah berkas</title>
      <p>Tambahkan berkas ke arsip yang telah ada dengan mengikuti instruksi untuk <link xref="archive-create">membuat arsip</link>.</p>
    </item>
    <item>
      <title>Buang berkas</title>
      <p>Klik kanan pada berkas dan pilih <gui style="menuitem">Hapus</gui>, atau tekan <key>Delete</key>.</p>
    </item>
    <item>
    <title>Ubah nama berkas</title>
      <p>Klik kanan pada berkas dan pilih <gui style="menuitem">Ubah Nama…</gui> atau tekan <key>F2</key>. Masukkan nama berkas baru ke dalam dialog yang telah terbuka dan konfirmasikan nama baru.</p>
    </item>
  </terms>

</page>
