<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-archive-open" xml:lang="id">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="supported-formats"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Saya tak bisa membuka suatu arsip.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016, 2020, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Masalah saat membuka suatu arsip</title>

  <p>BIla Anda tak bisa membuka arsip yang ada dengan <app>Manajer Arsip</app>, periksalah format berkas Anda. Beberapa tipe arsip mungkin memerlukan plugin tambahan; proses instalasi untuk ini berbeda-beda untuk distribusi yang berlainan.</p>

  <note>
    <p>Bila <app>Manajer Arsip</app> tak bisa membuka arsip yang baru-baru ini dipakai, mungkin lokasi berkas arsip ini telah berubah. Lihat halaman bantuan tentang <link xref="archive-open">membuka suatu arsip</link> untuk informasi lebih lanjut.</p>
  </note>

</page>
