<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract" xml:lang="gl">

  <info>
    <title type="sort" its:translate="no">5</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="password-protection"/>
    <link type="seealso" xref="archive-extract-advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="review"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Extraer arquivos ou cartafoles dun arquivador.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Diéguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2012-2021</mal:years>
    </mal:credit>
  </info>

  <title>Extraer un arquivo</title>

  <p>Pode extraer ficheiros dun arquivo usando o <app>Xestor de arquivos</app> seguindo estes pasos:</p>

  <steps>
    <item>
      <p><link xref="archive-open">Abrir</link> un arquivo.</p>
    </item>
    <item>
      <p>Click <gui style="button">Extraer</gui>.</p>
    </item>
    <item>
      <p>Seleccione onde desexa extraer o arquivo no selector de ficheiros. Este será o cartafol de destino. Consulte as <link xref="archive-extract-advanced-options">opcións avanzadas para extraer arquivos</link> para obter máis información.</p>
    </item>
    <item>
      <p>Prema <gui>Extraer</gui>.</p>
    </item>
    <item>
      <p>Se un arquivo está protexido con <link xref="password-protection">contrasinal</link>, o <app>Xestor de arquivos</app> solicitaralla. Escriba o contrasinal e prema <gui>Aceptar</gui>.</p>
    </item>
    <item>
      <p>A aplicación mostrará a barra de progreso no diálogo novo. Se a extracción remata correctamente, preguntaráselle se quere:</p>
      <list>
        <item>
          <p><gui>Mostrar os ficheiros</gui> para ver o cartafol de destino con <app>Ficheiros</app>.</p>
        </item>
        <item>
          <p><gui>Peche</gui> o diálogo.</p>
        </item>
      </list>
    </item>
  </steps>

</page>
