<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-edit" xml:lang="fi">

  <info>
    <title type="sort" its:translate="no">3</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-create"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Arkiston sisällön muuttaminen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sami Jaktholm</mal:name>
      <mal:email>sjakthol@outlook.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Muokkaa arkistoa</title>

  <p><app>Pakettienkäsittelijällä</app> voi muokata jo olemassa olevia arkistoja lisäämällä, poistamalla ja nimeämällä sen sisältämiä tiedostoja ja kansioita uudelleen.</p>

  <terms>
    <item>
      <title>Tiedostojen lisääminen</title>
      <p>Arkistoon voi lisätä tiedostoja <link xref="archive-create">arkiston luomisohjeen</link> mukaisesti.</p>
    </item>
    <item>
      <title>Tiedostojen poistaminen</title>
      <p>Right-click on the file and choose <gui style="menuitem">Delete</gui>,
      or press <key>Delete</key>.</p>
    </item>
    <item>
    <title>Tiedostojen uudelleennimeäminen</title>
      <p>Right-click on the file and choose <gui style="menuitem">Rename…</gui> or press <key>F2</key>.
      Enter the new file name into the dialog which has opened and confirm the
      new name.</p>
    </item>
  </terms>

</page>
