<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="test-integrity" xml:lang="sv">

  <info>
    <title type="sort" its:translate="no">3</title>
    <link type="guide" xref="index#advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>
    <desc>Kontrollera arkivet efter fel.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Testa integritet</title>

  <p><app>Arkivhanterare</app> låter dig kontrollera huruvida komprimerade data i ett arkiv innehåller några fel. Gör detta genom att trycka på menyknappen i fönstrets övre högra hörn och välja <gui style="menuitem">Testa integritet</gui>.</p>


  <p>Dialogrutan med <gui>Testresultat</gui> kommer dyka upp, lista de testade filerna och visa testsammanfattningen längst ner.</p>

  <note style="advanced">
    <p>Integritetstestet bekräftar att dina data inte är korrupta.</p>
  </note>

</page>
