<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-archive-open" xml:lang="sv">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="supported-formats"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>
    <desc>Jag kan inte öppna ett arkiv.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Problem med att öppna ett arkiv</title>

  <p>Om du inte kan öppna ett befintligt arkiv med <app>Arkivhanterare</app>, kontrollera formatet på din fil. Vissa arkivtyper kan kräva ytterligare insticksmoduler. Installationsprocessen för dessa varierar mellan olika distributioner.</p>

  <note>
    <p>Om <app>Arkivhanterare</app> inte kan öppna ett nyligen använt arkiv så kan det bero på att platsen för denna arkivfil har ändrats. Se hjälpsidan om att <link xref="archive-open">öppna ett arkiv</link> för mer information.</p>
  </note>

</page>
