<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="supported-formats" xml:lang="sl">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2011-11-21" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Dovoljenje Creative Commons - deljenje pod istimi pogoji 3.0</p>
    </license>
    <desc><app>Upravljalnik arhivov</app> ima zmožnost uporabe različnih vrst datotek.</desc>
  </info>

  <title>Podprte vrste datotek</title>

  <p>Vrste datotek, ki jih podpira <app>Upravljalnik arhivov</app>, vključujejo:</p>

  <list type="numbered">
    <item><p>Le arhiviraj</p>
      <list>
        <item><p>Majhen arhiv s kazalom AIX  (<file>.ar</file>)</p></item>
        <item><p>Odtis CD diska ISO-9660 [način le za branje] (<file>.iso</file>)</p></item>
        <item><p>Datoteka kasetnega arhiva (<file>.tar</file>)</p></item>
      </list>
    </item>
    <item><p>Arhiviranje in stiskanje</p>
      <list>
        <item><p>Arhiv Java (<file>.jar</file>)</p></item>
        <item><p>Stisnjen arhiv WinRAR (<file>.rar</file>)</p></item>
        <item><p>Datoteke arhiva kasete, stisnjene z:</p>
          <list>
            <item><p>gzip (<file>.tar.gz</file>, <file>.tgz</file>)</p></item>
            <item><p>bzip (<file>.tar.bz</file>, <file>.tbz</file>)</p></item>
            <item><p>bzip2 (<file>.tar.bz2</file>, <file>.tbz2</file>)</p></item>
            <item><p>lzop (<file>.tar.lzo</file>, <file>.tzo</file>)</p></item>
            <item><p>7zip (<file>.tar.7z</file>)</p></item>
            <item><p>xz (<file>.tar.xz</file>)</p></item>
          </list>
        </item>
        <item><p>Datoteka Cabinet (<file>.cab</file>)</p></item>
        <item><p>Stripi v arhivu ZIP (<file>.cbz</file>)</p></item>
        <item><p>Arhiv ZIP (<file>.zip</file>)</p></item>
        <item><p>Stisnjena datoteka arhiva ZOO (<file>.zoo</file>)</p></item>
      </list>
    </item>
  </list>

<!-- TODO: how does one install the plugins? -->
  <note>
    <p>Za nekatere vrste datotek bo <app>Upravljalnik arhivov</app> morda zahteval dodatne vstavke.</p>
  </note>

</page>
