<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-archive-open" xml:lang="ja">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="supported-formats"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>アーカイブを開けない。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>赤星　柔充</mal:name>
      <mal:email>yasumichi@vinelinux.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>アーカイブを開く際の問題</title>

  <p><app>アーカイブマネージャー</app>で既存のアーカイブを開くことができない場合、そのファイルの形式を確認してください。アーカイブの種類によっては、追加のプラグインを必要とします。インストール手順は、ディストリビューションにより異なります。</p>

  <note>
    <p><app>アーカイブマネージャー</app>が最近使用したアーカイブを開くことができない場合、アーカイブファイルの場所が変更されている可能性があります。さらに詳しい情報については、<link xref="archive-open">アーカイブを開く</link>というヘルプページを参照してください。</p>
  </note>

</page>
