<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-archive-open" xml:lang="ca">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="supported-formats"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
    <desc>No puc obrir un arxiu.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gil Forcada</mal:name>
      <mal:email>gilforcada@guifi.net</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Manel Vidal</mal:name>
      <mal:email>verduler@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jordi Mas i Herǹandez</mal:name>
      <mal:email>jmas@softcatala.org</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Problemes per a obrir un arxiu</title>

  <p>Si no podeu obrir un arxiu existent amb el <app>Gestor d'arxius</app>, comproveu el format del fitxer. Alguns tipus de fitxer requereixen l'ús de connectors addicionals, la instal·lació dels quals pot variar entre les diferents distribucions.</p>

  <note>
    <p>Si el <app>Gestor d'arxius</app> no pot obrir un arxiu acabat de fer servir, podria ser que hagués canviat la ubicació del fitxer de l'arxiu. Per a més informació consulteu l'ajuda sobre com <link xref="archive-open">obrir un arxiu</link>.</p>
  </note>

</page>
