<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task 2column" id="index" xml:lang="tr">

  <info>
    <title type="link" role="trail">Arşiv Yöneticisi</title>
    <title type="link">Arşiv Yöneticisi Yardımı</title>
    <title type="text">Arşiv Yöneticisi Yardımı</title>
    <revision pkgversion="3.8" date="2013-02-24" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Sıkıştırılmış dosya ve klasör arşivlerini kullanmayı ve yönetmeyi öğren.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sabri Ünal</mal:name>
      <mal:email>libreajans@gmail.com</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Emin Tufan Çetin</mal:name>
      <mal:email>etcetin@gmail.com</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>
  
  <title><media type="image" its:translate="no" width="48px" height="48px" src="figures/org.gnome.FileRoller.svg"/> Arşiv Yöneticisi</title>
  
  <section id="managing-archives" style="2column">
    <title>Arşivleri yönetmek</title>
  </section>

  <section id="advanced-options" style="2column">
    <title>Gelişmiş seçenekler</title>
  </section>

  <section id="troubleshooting" style="2column">
    <title>Sorun giderme</title>
  </section>

</page>
