<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-create" xml:lang="hu">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#managing-archives"/>
    <revision pkgversion="3.4" date="2012-01-18" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Fájlok vagy mappák hozzáadása új archívumhoz.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012, 2013, 2014, 2016.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2014, 2018, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Új archívum létrehozása</title>

  <p>Tegye a következőket új archívum létrehozásához az <app>Archívumkezelővel</app>:</p>

  <steps>
    <item>
      <p>Nyomja meg az ablak jobb felső sarkában lévő menügombot, és válassza az <gui style="menuitem">Új archívum</gui> lehetőséget.</p>
    </item>
    <item>
      <p>Adjon nevet az új archívumfájlnak, és válassza ki a fájlformátumot a legördülő menüből.</p>
    </item>
    <item>
      <p>Válassza ki azt a helyet, ahova az archívumfájl mentésre kerül.</p>
    </item>
    <item>
      <p>Kattintson a <gui>Létrehozás</gui> gombra a folytatáshoz.</p>
      <note style="tip">
	<p>A <gui>További beállítások</gui> lehetőségre kattintva beállíthat jelszót, vagy kisebb darabokra vághatja az új archívumot a megfelelő lehetőség kiválasztásával. Az egyes részek köteteinek méretét <gui>MB</gui>-ban adhatja meg. Ezek a beállítások csak akkor érhetők el, ha a kiválasztott archívumfájl-formátum támogatja azokat.</p>
      </note>
    </item>
    <item>
      <p>Adja archívumához a kívánt fájlokat és mappákat a fejlécsávon lévő <gui>+</gui> gomb megnyomásával. Jelölje be a hozzáadni kívánt fájlok és mappák melletti négyzetet.</p>
      <note style="tip">
	<p>Nem minden archívumfájl-formátum támogatja a mappákat – ha az éppen használt fájlformátum ilyen, arról nem kap figyelmeztetést. Ha a mappákat nem támogató fájlformátumot használ, akkor a mappa fájljai felvételre kerülnek, de maga a mappa nem.</p>
      </note>
    </item>
    <item>
      <p>A fájlok hozzáadásának befejezésekor az archívum kész van: nem kell mentenie.</p>
    </item>
  </steps>

</page>
