<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="hu">

<info>
  <title type="sort" its:translate="no">4</title>
  <link type="guide" xref="index#advanced-options"/>
  <revision pkgversion="3.4" date="2011-12-15" status="review"/>
  <revision pkgversion="3.6" date="2012-08-05" status="review"/>
  <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
  <credit type="author">
    <name>Marta Bogdanowicz</name>
    <email>majus85@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Ekaterina Gerasimova</name>
    <email>kittykat3756@gmail.com</email>
  </credit>
  <license>
    <p>Creative Commons Share Alike 3.0</p>
  </license>
  <desc>Az <app>Archívumkezelő</app> gyorsbillentyűinek listája.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012, 2013, 2014, 2016.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2014, 2018, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Gyorsbillentyűk</title>

  <p>A gyorsbillentyűk használatával gyorsabban dolgozhat. Az alábbi táblázatban láthatja az <app>Archívumkezelőben</app> használható gyorsbillentyűk listáját.</p>

  <table frame="all" shade="rows">
    <tr>
      <td><p>Új archívum létrehozása</p></td>
      <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Archívum megnyitása</p></td>
      <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Archívum kibontása</p></td>
      <td><p><keyseq><key>Ctrl</key><key>E</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Archívum tulajdonságainak megjelenítése</p></td>
      <td><p><keyseq><key>Alt</key><key>Enter</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Bezárás</p></td>
      <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Kivágás</p></td>
      <td><p><keyseq><key>Ctrl</key><key>X</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Másolás</p></td>
      <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Beillesztés</p></td>
      <td><p><keyseq><key>Ctrl</key><key>V</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Fájl vagy mappa átnevezése az archívumban</p></td>
      <td><p><key>F2</key></p></td>
    </tr>
    <tr>
      <td><p>Összes kijelölése</p></td>
      <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Az összes kijelölésének megszüntetése</p></td>
      <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Keresés</p></td>
      <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Fájlok vagy mappák törlése az archívumból</p></td>
      <td><p><key>Delete</key></p></td>
    </tr>
    <tr>
      <td><p>Mappák fanézetének megjelenítése az oldalsávban</p></td>
      <td><p><key>F9</key></p></td>
    </tr>
    <tr>
      <td><p>Archívum tartalmának megjelenítése fájllistaként</p></td>
      <td><p><keyseq><key>Ctrl</key><key>1</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Archívum tartalmának megjelenítése mappaszerkezetként</p></td>
      <td><p><keyseq><key>Ctrl</key><key>2</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>A művelet leállítása</p></td>
      <td><p><key>Esc</key></p></td>
    </tr>
    <tr>
      <td><p>Frissítés</p></td>
      <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Súgó megjelenítése</p></td>
      <td><p><key>F1</key></p></td>
    </tr>
  </table>

</page>
