<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-password" xml:lang="hu">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="password-protection"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Beállítottam jelszót, de az nem védi az egész archívumot.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012, 2013, 2014, 2016.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2014, 2018, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Jelszó beállításával kapcsolatos problémák</title>

  <p>Az <app>Archívumkezelő</app> nem ad jelszavas védelmet a meglévő archívumokhoz. Ilyen archívumok kezelésekor csak az újonnan hozzáadott fájlokhoz állíthat be jelszót. Ehhez kövesse a <link xref="password-protection">Jelszavas védelem</link> oldal utasításait.</p>

</page>
