<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-edit" xml:lang="cs">

  <info>
    <title type="sort" its:translate="no">3</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-create"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak změnit obsah svého archivu.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Úprava arvhivu</title>

  <p>S aplikací <app>Správa archivů</app> můžete upravovat stávající archivy přidáváním souborů, mazáním nepotřebných souborů nebo přejmenováním souborů. Stejně tak můžete pracovat se složkami.</p>

  <terms>
    <item>
      <title>Přidání souborů</title>
      <p>Přidat soubory do stávajícího archivu můžete podle instrukcí v oddíle o <link xref="archive-create">vytváření archivů</link>.</p>
    </item>
    <item>
      <title>Odstranění souborů</title>
      <p>Klikněte pravým tlačítkem na soubor a zvolte <gui style="menuitem">Odstranit</gui> nebo zmáčkněte klávesu <key>Delete</key>.</p>
    </item>
    <item>
    <title>Přejmenování souborů</title>
      <p>Klikněte pravým tlačítkem na soubor a zvolte <gui style="menuitem">Přejmenovat…</gui>, nebo použijte klávesu <key>F2</key>. Zadejte nový název souboru do dialogového okna, které se otevře a potvrďte jej.</p>
    </item>
  </terms>

</page>
