<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="password-protection" xml:lang="cs">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#advanced-options"/>
    <link type="seealso" xref="archive-create"/>
    <link type="seealso" xref="archive-open"/>
    <revision pkgversion="3.4" date="2012-01-10" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Jak nastavit heslo pro svůj archiv.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Ochrana heslem</title>

  <p>Archiv můžete zašifrovat heslem, takže se do něj dostanete jen vy a ti, kterým heslo prozradíte. Pamatujte na to, že hesla lze i uhádnout, takže pro dobré zabezpečení je důležité zvolit <link href="help:gnome-help/user-goodpassword">silné heslo</link>.</p>

  <note style="warning">
    <p><app>Správa archivů</app> umožňuje zašifrovat archivy heslem je v některých konkrétních případech.</p>
  </note>

  <p>Nastavení hesla pro zašifrování dat v archivu se provádí následovně:</p>

  <steps>
    <item>
      <p>Začněte <link xref="archive-create">vytvořením nového archivu</link>.</p>
    </item>
    <item>
      <p>V dolní části dialogového okna pro výběr souboru rozbalte <gui>Další volby</gui>.</p>
    </item>
    <item>
      <p>Zadejte heslo do pole <gui style="input">Heslo</gui>.</p>
      <note>
        <p>V případě, že chcete zašifrovat i seznam souborů, zaškrtněte <gui style="checkbox">Zašifrovat také seznam souborů</gui>.</p>
      </note>
      <note style="warning">
	<p>Může se stát, že heslo nastavit nepůjde, protože ne všechny typy archivů šifrování podporují. Proto před nastavením hesla vyberte typ archivu, který ochranu heslem zvládá.</p>
      </note>
    </item>
    <item>
      <p>Pokračujte ve <link xref="archive-create">vytváření archivu</link>.</p>
    </item>
  </steps>

  <p>Ochrana existujícího archivu nastavením hesla:</p>
  <steps>
    <item>
      <p><link xref="archive-open">Otevřte archiv</link>.</p>
    </item>
    <item>
      <p>Zmáčkněte tlačítko nabídky v pravém horním rohu okna a vyberte <gui style="menuitem">Heslo…</gui>.</p>
    </item>
    <item>
      <p>Zadejte heslo.</p>
      <note>
        <p>V případě, že chcete zašifrovat i seznam souborů, zaškrtněte <gui style="checkbox">Zašifrovat seznam souborů</gui>.</p>
      </note>
    </item>
    <item>
      <p>Pro pokračovaní klikněte na <gui style="button">Uložit</gui>.</p>
      <note style="warning">
        <p><app>Správa archivů</app> bude šifrovat jen soubory, které budou do archivu nově přidány!</p>
      </note>
    </item>
  </steps>

</page>
