<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="eu">

<info>
  <title type="sort" its:translate="no">4</title>
  <link type="guide" xref="index#advanced-options"/>
  <revision pkgversion="3.4" date="2011-12-15" status="review"/>
  <revision pkgversion="3.6" date="2012-08-05" status="review"/>
  <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
  <credit type="author">
    <name>Marta Bogdanowicz</name>
    <email>majus85@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Ekaterina Gerasimova</name>
    <email>kittykat3756@gmail.com</email>
  </credit>
  <license>
    <p>Creative Commons Share Alike 3.0</p>
  </license>
  <desc>The list of shortcuts in <app>Archive Manager</app>.</desc>
</info>

  <title>Laster-teklak</title>

  <p>Using keyboard shortcuts can help speed up work-flow. In the table below
  is a list of shortcuts which can be used in <app>Archive Manager</app>.</p>

  <table frame="all" shade="rows">
    <tr>
      <td><p>Sortu artxibo berria</p></td>
      <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ireki artxibo bat</p></td>
      <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Erauzi artxiboa</p></td>
      <td><p><keyseq><key>Ctrl</key><key>E</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Bistaratu artxiboen propietateak</p></td>
      <td><p><keyseq><key>Alt</key><key>Return</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Itxi</p></td>
      <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ebaki</p></td>
      <td><p><keyseq><key>Ctrl</key><key>X</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Kopiatu</p></td>
      <td><p>Kopiatu</p></td>
    </tr>
    <tr>
      <td><p>Itsatsi</p></td>
      <td><p><keyseq><key>Ctrl</key><key>V</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Aldatu izena artxibo bateko fitxategiari edo karpetari</p></td>
      <td><p><key>F2</key></p></td>
    </tr>
    <tr>
      <td><p>Hautatu dena</p></td>
      <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Desautatu dena</p></td>
      <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Aurkitu</p></td>
      <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ezabatu artxibo bateko fitxategiak edo karpetak</p></td>
      <td><p><key>Delete</key></p></td>
    </tr>
    <tr>
      <td><p>Bistaratu karpeten zuhaitz-bista alboko panelean</p></td>
      <td><p><key>F9</key></p></td>
    </tr>
    <tr>
      <td><p>Bistaratu artxibo baten edukia fitxategien zerrenda gisa</p></td>
      <td><p><keyseq><key>Ctrl</key><key>1</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Bistaratu artxibo baten edukia karpeten egitura gisa</p></td>
      <td><p><keyseq><key>Ctrl</key><key>2</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Gelditu eragiketa</p></td>
      <td><p><key>Esc</key></p></td>
    </tr>
    <tr>
      <td><p>Freskatu</p></td>
      <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ikusi laguntza</p></td>
      <td><p><key>F1</key></p></td>
    </tr>
  </table>

</page>
