<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="id">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2012-01-18" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Perkenalan ke <app>Manajer Arsip</app> GNOME.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016, 2020, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Perkenalan</title>

  <p><app>Manajer Arsip</app> adalah aplikasi untuk mengelola berkas arsip, seperti berkas <file>.zip</file> atau <file>.tar</file>; ini dirancang agar mudah dipakai. <app>Manajer Arsip</app> menyediakan semua peralatan yang diperlukan untuk membuat, mengubah, dan mengekstrak arsip.</p>

  <note style="advanced">
    <p>Suatu arsip terdiri dari satu atau lebih berkas dan folder, bersama dengan metadata. Itu mungkin dienkripsi sebagian atau seluruhnya. Berkas arsip berguna untuk menyimpan data dan mentransfernya antar komputer karena mereka memungkinkan Anda mengumpulkan banyak berkas menjadi satu.</p>
  </note>

  <p>Dengan <app>Manajer Arsip</app> Anda dapat:</p>
  <list>
    <item><p>buat suatu arsip baru</p></item>
    <item><p>lihat isi dari arsip yang ada</p></item>
    <item><p>lihat suatu berkas yang berada dalam suatu arsip</p></item>
    <item><p>ubah arsip yang telah ada</p></item>
    <item><p>ekstrak berkas dari suatu arsip</p></item>
  </list>

</page>
