<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-password" xml:lang="id">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="password-protection"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Saya telah menata suatu sandi, tapi itu tak melindungi seluruh arsip.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016, 2020, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Masalah saat menata suatu sandi</title>

  <p><app>Manajer Arsip</app> tak menambahkan proteksi sandi bagi arsip yang telah ada. Ketika bekerja dengan arsip yang demikian, Anda hanya dapat menata suatu sandi bagi berkas yang baru ditambahkan. Untuk melakukan ini, ikuti instruksi pada halaman <link xref="password-protection">Password protection</link>.</p>

</page>
