<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-open" xml:lang="cs">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#managing-archives"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak otevřít existující archiv.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Otevření archivu</title>

  <p>Existující archiv můžete ve <app>Správě archivů</app> otevřít zmáčknutím tlačítka nabídky v pravém horním rohu okna a zvolením <gui style="menuitem">Otevřít…</gui>. Případně můžete zmáčknout kombinaci kláves <keyseq><key>Ctrl</key><key>O</key></keyseq>.</p>

  <p>Také můžete archiv přetáhnout a upustit na okně <app>Správy archivů</app>.</p>

</page>
