<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract" xml:lang="cs">

  <info>
    <title type="sort" its:translate="no">5</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="password-protection"/>
    <link type="seealso" xref="archive-extract-advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="review"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak z archivu rozbalit soubory nebo složky.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Rozbalování archivů</title>

  <p>Soubory z archivu rozbalíte pomocí <app>Správy archivů</app> v následujících krocích:</p>

  <steps>
    <item>
      <p><link xref="archive-open">Otevřte</link> archiv.</p>
    </item>
    <item>
      <p>Klikněte na <gui style="button">Rozbalit</gui>.</p>
    </item>
    <item>
      <p>V dialogovém okně pro výběr souboru vyberte, kam chcete archiv rozbalit. Tím určíte cílovou složku. Další volby rozbalování viz <link xref="archive-extract-advanced-options">pokročilé volby pro rozbalování archivů</link>.</p>
    </item>
    <item>
      <p>Klikněte na <gui>Rozbalit</gui>.</p>
    </item>
    <item>
      <p>Je-li archiv chráněn <link xref="password-protection">heslem</link>, <app>Správa archivů</app> si jej vyžádá. Zadejte jej a zmáčkněte <gui>Budiž</gui>.</p>
    </item>
    <item>
      <p>Aplikace vám bude průběh rozbalování zobrazovat v novém dialogovém okně. Pokud se rozbalení vydaří, budete dotázáni, zda chcete:</p>
      <list>
        <item>
          <p><gui>Zobrazit soubory</gui> a tím zobrazit cílovou složku v aplikaci <app>Soubory</app>.</p>
        </item>
        <item>
          <p><gui>Zavřít</gui> dialogové okno.</p>
        </item>
      </list>
    </item>
  </steps>

</page>
