<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="cs">

<info>
  <title type="sort" its:translate="no">4</title>
  <link type="guide" xref="index#advanced-options"/>
  <revision pkgversion="3.4" date="2011-12-15" status="review"/>
  <revision pkgversion="3.6" date="2012-08-05" status="review"/>
  <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
  <credit type="author">
    <name>Marta Bogdanowicz</name>
    <email>majus85@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Ekaterina Gerasimova</name>
    <email>kittykat3756@gmail.com</email>
  </credit>
  <license>
    <p>Creative Commons Share Alike 3.0</p>
  </license>
  <desc>Seznam klávesových zkratek ve <app>Správě archivů</app>.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Klávesové zkratky</title>

  <p>Používáním klávesových zkratek můžete urychlit svoji práci. V tabulce níže je seznam klávesových zkratek, které jsou k dispozici ve <app>Správě archivů</app>.</p>

  <table frame="all" shade="rows">
    <tr>
      <td><p>Vytvořit nový archiv</p></td>
      <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Otevření archivu</p></td>
      <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Rozbalování archivů</p></td>
      <td><p><keyseq><key>Ctrl</key><key>E</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zobrazit vlastnosti archivu</p></td>
      <td><p><keyseq><key>Alt</key><key>Return</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zavřít</p></td>
      <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Vyjmout</p></td>
      <td><p><keyseq><key>Ctrl</key><key>X</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Kopírovat</p></td>
      <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Vložit</p></td>
      <td><p><keyseq><key>Ctrl</key><key>V</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Přejmenovat soubor nebo složku v archivu</p></td>
      <td><p><key>F2</key></p></td>
    </tr>
    <tr>
      <td><p>Vybrat vše</p></td>
      <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zrušit výběr</p></td>
      <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Hledat</p></td>
      <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Smazat soubory nebo složky z archivu</p></td>
      <td><p><key>Delete</key></p></td>
    </tr>
    <tr>
      <td><p>Zobrazit v postranním panelu strom složek</p></td>
      <td><p><key>F9</key></p></td>
    </tr>
    <tr>
      <td><p>Zobrazit obsah archivu jako seznam souborů</p></td>
      <td><p><keyseq><key>Ctrl</key><key>1</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zobrazit obsahu archivu jako strukturu složek</p></td>
      <td><p><keyseq><key>Ctrl</key><key>2</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zastavit operaci</p></td>
      <td><p><key>Esc</key></p></td>
    </tr>
    <tr>
      <td><p>Aktualizovat</p></td>
      <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Zobrazit nápovědu</p></td>
      <td><p><key>F1</key></p></td>
    </tr>
  </table>

</page>
