<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-password" xml:lang="cs">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="password-protection"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Nastavil jsem heslo, ale není ochráněn celý archiv.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakub Mach</mal:name>
      <mal:email>jakub.m2011@ch.gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Problém s nastavením hesla</title>

  <p><app>Správa archivů</app> nedoplňuje ochranu heslem ve stávajících archivech. Když pracujete s takovýmto archivem, můžete nastavit heslo jen pro nově přidané soubory. Návod, jak se to dělá, najdete na stránce <link xref="password-protection">Ochrana heslem</link>.</p>

</page>
