<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="supported-formats" xml:lang="hu">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2011-11-21" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Az <app>Archívumkezelő</app> különböző fájlformátumok használatára képes.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2012, 2013, 2014, 2016.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs at fsf dot hu</mal:email>
      <mal:years>2014, 2018, 2021.</mal:years>
    </mal:credit>
  </info>

  <title>Támogatott fájlformátumok</title>

  <p>Az <app>Archívumkezelő</app> által támogatott formátumok:</p>

  <list type="numbered">
    <item><p>Csak archívum</p>
      <list>
        <item><p>AIX kis indexelt archívum (<file>.ar</file>)</p></item>
        <item><p>ISO-9660 CD lemezkép [Csak olvasható mód] (<file>.iso</file>)</p></item>
        <item><p>Szalagos archívum fájlok (<file>.tar</file>)</p></item>
      </list>
    </item>
    <item><p>Tömörített archívumok</p>
      <list>
        <item><p>Java archívum (<file>.jar</file>)</p></item>
        <item><p>WinRAR tömörített archívum (<file>.rar</file>)</p></item>
        <item><p>Tömörített szalagos archívumfájlok:</p>
          <list>
            <item><p>gzip (<file>.tar.gz</file>, <file>.tgz</file>)</p></item>
            <item><p>bzip (<file>.tar.bz</file>, <file>.tbz</file>)</p></item>
            <item><p>bzip2 (<file>.tar.bz2</file>, <file>.tbz2</file>)</p></item>
            <item><p>lzop (<file>.tar.lzo</file>, <file>.tzo</file>)</p></item>
            <item><p>7zip (<file>.tar.7z</file>)</p></item>
            <item><p>xz (<file>.tar.xz</file>)</p></item>
          </list>
        </item>
        <item><p>Cabinet fájl (<file>.cab</file>)</p></item>
        <item><p>ZIP-pel archivált képregény (<file>.cbz</file>)</p></item>
        <item><p>ZIP archívum (<file>.zip</file>)</p></item>
        <item><p>ZOO tömörített archívumfájl (<file>.zoo</file>)</p></item>
      </list>
    </item>
  </list>

<!-- TODO: how does one install the plugins? -->
  <note>
    <p>Egyes formátumokhoz az <app>Archívumkezelő</app> további bővítményeket igényelhet.</p>
  </note>

</page>
