<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-edit" xml:lang="es">

  <info>
    <title type="sort" its:translate="no">3</title>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-create"/>
    <revision pkgversion="3.4" date="2011-12-08" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Modificar el contenido de un archivador.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@tecknolabs.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Editar un archivador</title>

  <p>Con el <app>Gestor de archivadores</app> puede editar un archivador existente añadiendo archivos nuevos, quitando los archivos que no quiera o cambiando sus nombres. Puede trabajar con las carpetas de la misma manera que con los archivos.</p>

  <terms>
    <item>
      <title>Añadir archivos</title>
      <p>Añada archivos a un archivador existente siguiente las instrucciones para <link xref="archive-create">crear un archivador</link>.</p>
    </item>
    <item>
      <title>Quitar archivos</title>
      <p>Pulse con el botón derecho sobre el archivo y elija <gui style="menuitem">Eliminar</gui>, o pulse <key>Supr</key>.</p>
    </item>
    <item>
    <title>Renombrar archivos</title>
      <p>Pulse con el botón derecho sobre el archivo y elija <gui style="menuitem">Renombrar…</gui> o pulse <key>F2</key>. Introduzca el nuevo nombre del archivo en el diálogo que se abre y confímerlo.</p>
    </item>
  </terms>

</page>
