<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task 2column" id="index" xml:lang="es">

  <info>
    <title type="link" role="trail">Gestor de archivadores</title>
    <title type="link">Ayuda del gestor de archivadores</title>
    <title type="text">Ayuda del gestor de archivadores</title>
    <revision pkgversion="3.8" date="2013-02-24" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Aprender a usar y manejar archivadores comprimidos de archivos y carpetas.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@tecknolabs.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>
  
  <title><media type="image" its:translate="no" width="48px" height="48px" src="figures/org.gnome.FileRoller.svg"/> Gestor de archivadores</title>
  
  <section id="managing-archives" style="2column">
    <title>Gestionar archivadores</title>
  </section>

  <section id="advanced-options" style="2column">
    <title>Opciones avanzadas</title>
  </section>

  <section id="troubleshooting" style="2column">
    <title>Resolución de problemas</title>
  </section>

</page>
