<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="keyboard-shortcuts" xml:lang="es">

<info>
  <title type="sort" its:translate="no">4</title>
  <link type="guide" xref="index#advanced-options"/>
  <revision pkgversion="3.4" date="2011-12-15" status="review"/>
  <revision pkgversion="3.6" date="2012-08-05" status="review"/>
  <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
  <credit type="author">
    <name>Marta Bogdanowicz</name>
    <email>majus85@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Ekaterina Gerasimova</name>
    <email>kittykat3756@gmail.com</email>
  </credit>
  <license>
    <p>Creative Commons Compartir-Igual 3.0</p>
  </license>
  <desc>La lista de atajos de teclado en el <app>Gestor de archivadores</app>.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@tecknolabs.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Atajo de teclado</title>

  <p>Usar los atajos de teclado puede ayudar a acelerar el flujo de trabajo. En la siguiente tabla se muestra una lista de los atajos de teclado que se pueden usar en el <app>Gestor de archivadores</app>.</p>

  <table frame="all" shade="rows">
    <tr>
      <td><p>Crear un archivador nuevo</p></td>
      <td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Abrir un archivador</p></td>
      <td><p><keyseq><key>Ctrl</key><key>O</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Extraer un archivador</p></td>
      <td><p><keyseq><key>Ctrl</key><key>E</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ver las propiedades del archivador</p></td>
      <td><p><keyseq><key>Alt</key><key>Intro</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Cerrar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Cortar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>X</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Copiar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>C</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Pegar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>V</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Renombrar un archivo o carpeta dentro de un archivador</p></td>
      <td><p><key>F2</key></p></td>
    </tr>
    <tr>
      <td><p>Seleccionar todo</p></td>
      <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Deseleccionar todo</p></td>
      <td><p><keyseq><key>Mayús</key><key>Ctrl</key><key>A</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Buscar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Eliminar archivos o carpetas de un archivador</p></td>
      <td><p><key>Supr</key></p></td>
    </tr>
    <tr>
      <td><p>Mostrar la vista de árbol de las carpetas en el panel lateral</p></td>
      <td><p><key>F9</key></p></td>
    </tr>
    <tr>
      <td><p>Ver el contenido de un archivador como una lista de archivos</p></td>
      <td><p><keyseq><key>Ctrl</key><key>1</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ver el contenido de un archivador como una estructura de carpetas</p></td>
      <td><p><keyseq><key>Ctrl</key><key>2</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Detener la operación</p></td>
      <td><p><key>Esc</key></p></td>
    </tr>
    <tr>
      <td><p>Actualizar</p></td>
      <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
    </tr>
    <tr>
      <td><p>Ver la ayuda</p></td>
      <td><p><key>F1</key></p></td>
    </tr>
  </table>

</page>
