<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-archive-open" xml:lang="fi">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="supported-formats"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Arkiston avaaminen ei onnistu.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sami Jaktholm</mal:name>
      <mal:email>sjakthol@outlook.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Ongelma avatessa arkistoa</title>

  <p>Jos olemassa olevan arkiston avaaminen ei onnistu <app>Pakettienkäsittelijällä</app>, tarkista tiedostomuoto. Jotkut arkistotyypit saattavat vaatia lisäosien asentamista. Asennusprosessi on käyttöjärjestelmäriippuvainen.</p>

  <note>
    <p>Jos <app>Pakettienkäsittelijä</app> ei kykene avaamaan viimeaikaista arkistoa, arkiston sijainti on saattanut vaihtua. Lisätietoa löytyy <link xref="archive-open">arkistojen avaamisohjeesta</link>.</p>
  </note>

</page>
