<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-password" xml:lang="eu">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="password-protection"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>I have set a password, but it does not protect the whole
    archive.</desc>
  </info>

  <title>Problem setting a password</title>

  <p><app>Archive Manager</app> does not add password protection for an
  existing archive. While working with such an archive, you can only set a
  password for newly added files. To do this, follow instructions on
  <link xref="password-protection">Password protection</link> page.</p>

</page>
