<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="troubleshooting-password" xml:lang="sv">

  <info>
    <title type="sort" its:translate="no">2</title>
    <link type="guide" xref="index#troubleshooting"/>
    <link type="seealso" xref="password-protection"/>
    <revision pkgversion="3.4" date="2012-01-03" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons DelaLika 3.0</p>
    </license>
    <desc>Jag har ställt in ett lösenord, men det skyddar inte hela arkivet.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Problem med att ställa in ett lösenord</title>

  <p><app>Arkivhanterare</app> lägger inte till lösenordsskydd till ett befintligt arkiv. Då du arbetar med ett sådant arkiv kan du bara ställa in ett lösenord för nytillagda filer. Följ instruktionerna på sidan <link xref="password-protection">Lösenordsskydd</link> för att göra detta.</p>

</page>
