<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="tr">

  <info>
    <title type="sort" its:translate="no">1</title>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2012-01-18" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.34" date="2020-02-09" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>GNOME <app>Arşiv Yöneticisi</app>’ne giriş.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sabri Ünal</mal:name>
      <mal:email>libreajans@gmail.com</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Emin Tufan Çetin</mal:name>
      <mal:email>etcetin@gmail.com</mal:email>
      <mal:years>2020</mal:years>
    </mal:credit>
  </info>

  <title>Giriş</title>

  <p><app>Arşiv Yöneticisi</app>; <file>.zip</file> veya <file>.tar</file> benzeri arşiv dosyalarını yönetmede kullanılan uygulama olup, kolay kullanımlı tasarlanmıştır. <app>Arşiv Yöneticisi</app>; arşiv oluşturma, değiştirme ve çıkartmada gerekli tüm araçları sağlar.</p>

  <note style="advanced">
    <p>Arşiv, üst verilerle birlikte bir veya daha çok dosya ve klasörden oluşur. Parçalı veya tümüyle şifrelenebilir. Arşiv dosyaları, birden çok dosyayı tek dosyada toplamanızı sağladığı gibi veri depolama ve bilgisayarlar arasında aktarımda kullanışlıdır.</p>
  </note>

  <p><app>Arşiv Yöneticisi</app> ile şunları yapabilirsiniz:</p>
  <list>
    <item><p>yeni arşiv oluşturmak</p></item>
    <item><p>var olan arşivin içeriğini görüntülemek</p></item>
    <item><p>arşivdeki dosyayı görüntülemek</p></item>
    <item><p>var olan arşivi düzenlemek</p></item>
    <item><p>dosyaları arşivden çıkartmak</p></item>
  </list>

</page>
